{{#if menu.icon}}
  <div class="menu-icon">{{lift-icon name=menu.icon}}</div>
{{/if}}
{{#if menu.isExternal}}
  <a target="_blank" href="{{menu.action}}" data-menu-name="{{menu.name}}">{{menu.name}}</a>
{{else}}
  <a {{action 'onMenuItemClick'}} data-menu-name="{{menu.name}}">{{menu.name}}</a>
{{/if}}
{{#if menu.nested}}
<span class="submenu-icon">{{lift-icon name='caret-right'}}</span>
  <ul>
    {{#each menu.nested as |submenu|}}
      {{control-menu-item menu=submenu menuItemSelected='onBubble' currentMenu=currentMenu}}
    {{/each}}
  </ul>
{{/if}}
