<a class="lift__cmp__switch__off-label {{unless isEnabled ' lift__cmp__switch__off-label--active'}}" {{action 'toggleSwitch' false}}>{{offLabel}}</a>
{{input type="checkbox"
      id=inputId
      name="checkboxPolicy"
      class="lift__cmp__switch__checkbox"
      checked=(mut isEnabled)
      change=(action 'toggleSwitch')}}
{{#if (eq style 'slider')}}
  <label for="checkbox-switch-{{elementId}}" class="lift__cmp__switch__label"></label>
{{/if}}
<a class="lift__cmp__switch__on-label {{if isEnabled ' lift__cmp__switch__on-label--active'}}" {{action 'toggleSwitch' true}}>{{onLabel}}</a>
