{{#if image}}
  <div class="preview-image" style={{background-image image}}>
    {{yield}}
  </div>
{{else}}
  <div class="preview-image">
    {{#if showDefault}}
      {{lift-icon name="missing-image"}}
    {{/if}}
    {{yield}}
  </div>
{{/if}}
