{{#if model.rules}}
  {{#control-search-input placeholder="Search for Rules" clearable=clearable search="searchRules" clear="showAllRules"}}
  {{#if unpublishedSelected}}
    <button class="publish-button" {{action 'publishDrafts'}}>Publish ({{draftResults.length}})</button>
  {{/if}}
  {{/control-search-input}}

  {{#unless displayedRules}}
    <div class="no-results">There are no results matching your search.</div>
  {{/unless}}
  {{#control-scrolling}}
  {{#liquid-if draftResults}}
  <div class="draft rule-results">
  	<div class="header">
    	<div class="title">Draft</div>
    	<div class="select" {{action 'toggleSelectUnpublished'}}>{{if unpublishedSelected 'Deselect All' 'Select All'}}</div>
  	</div>
  	<div class="results">
      {{#each draftResults as |rule|}}
      	{{card-rule rule=rule segments=model.segments cardType="gist" deleteRule='deleteRule' publishRule='publishRule' previewContent='previewContent' isSelected=unpublishedSelected goals=model.goals}}
      {{/each}}
    </div>
  </div>
  {{/liquid-if}}

  {{#liquid-if publishedResults}}
  <div class="published rule-results">
  	<div class="header">
    	<div class="title">Published</div>
  	</div>
  	<div class="results">
      {{#each publishedResults as |rule|}}
      	{{card-rule rule=rule segments=model.segments cardType="gist" deleteRule='deleteRule' unpublishRule='unpublishRule' previewContent='previewContent' goals=model.goals}}
      {{/each}}
    </div>
  </div>
  {{/liquid-if}}
  {{/control-scrolling}}
{{else}}
  <div class="no-results rule-results">There are no rules on this page.  {{#link-to "lift-sidebar.create"}}Create a rule{{/link-to}} to begin customizing your website's experience.</div>
{{/if}}
