<div class="content-view-display">
  {{preview-image image=contentView.previewImage}}
  <div class="content-name is-truncatable">
    <div class="title is-truncatable">{{contentView.contentTitle}}</div>
    <div class="layout is-truncatable"><span>Layout</span>: {{contentView.viewMode.label}}</div>
  </div>
  <div class="content-actions">
    {{#if canReplaceContent}}
      <a {{action 'replaceContentInRule'}}>Replace content</a>
    {{else}}
      <a class="disabled">Replace content</a>
    {{/if}}
  </div>
</div>
