<div class="rule-display">
  <div class="rule-summary">
    <div class="rule-name is-truncatable">
      {{lift-icon name=rule.typeName}}{{rule.label}}
    </div>
    {{#if canAddToRule}}
      <button {{action 'addCurrentContentToRule'}}>{{#if rule.isTesting}}Add to test{{else}}Create A/B test{{/if}}</button>
    {{else}}
      <button class="disabled">{{#if rule.isTesting}}Add to test{{else}}Create A/B test{{/if}}</button>
    {{/if}}
  </div>
  {{#each rule.content as |contentView|}}
    {{slot-rule-content
      rule=rule
      contentView=contentView
      addingContent=content
      replaceContentInRule=(action "replaceContentInRule")}}
  {{/each}}
</div>
