{{#liquid-sync as |readyToAnimate|}}
  {{#card-geometry dataAttrs=(obj modal=true) outOfFlow=true width="100vw" height="100vh" untether=true done=readyToAnimate as |card|}}
    <div class="isolation-view" >
      <div class="iso-header">
        <p class="iso-title">{{model.slotModel.slot.label}}</p>
        <a class="close" {{action "close"}} title="Close">{{lift-icon name="close"}}</a>
      </div>

      <div class="row">
        <div class="column one-half">
          <section class="iso-section">
            <p class="label">Rule Preview</p>
            {{#if card.viewportReady}}
              {{liquid-outlet}}
            {{/if}}
          </section>
        </div>
        <div class="column one-half">

          <section class="rule-prioritization iso-section {{if hasMultipleRules 'has-multiple-rules'}}">

            <p class="label">
              {{if hasMultipleRules 'Prioritize Rules' 'Rule Details'}}
              {{control-help help="Rules in this slot are shown to users of different segments based on the order they are listed. If a user does not fall into the segment of the first rule in the list, they will be matched with the next rule whose segment they have been assigned."}}
            </p>
            {{#control-scrolling}}
            {{#sortable-group class="slot-rules" onChange="updateRulePriority" as |ruleGroup|}}
            {{#each (compact sortedRules) as |rule index|}}
              {{#sortable-item model=rule handle='.move-icon' group=ruleGroup}}
                  {{#if hasMultipleRules}}<div class="counter">{{plus index 1}}</div>{{/if}}
                  {{card-rule
                    rule=rule
                    segments=model.slotModel.segments
                    cardType="gist"
                    sortable=hasMultipleRules
                    cardContext="slot"
                    deleteRule='deleteRule'
                    selectRule='selectRule'
                    publishRule='publishRule'
                    unpublishRule='unpublishRule'
                    previewContent='previewContent'
                    selectedRule=selectedRule
                    goals=model.goals}}
              {{/sortable-item}}
            {{/each}}
            {{/sortable-group}}
            {{/control-scrolling}}
          </section>

        </div>
      </div>
    </div>
  {{/card-geometry}}
{{/liquid-sync}}
